#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 400px;
    left: 50%;
    
    width: 256px;
    height: 256px;
}

#canvas2 {
    border: 5px solid black;
    position: absolute;
    top: 700px;
    left: 50%;
    width: 256px;
    height: 256px;
}

#canvas3 {
    border: 5px solid black;
    position: absolute;
    top: 1000px;
    left: 50%;
    width: 256px;
    height: 256px;
}

#helloWorldButton {
 display: block;
 background-color: aqua;
 border-radius: 6px;
 margin: auto;
}

.helloWorld {
    display: block;
    margin: auto;
}


#helloWorldButton:hover {
 background-color: rgb(0, 129, 129);
 box-shadow: 8 8 8 8;
}

.hidden {
    display: none;
}

#dipsy {
    display: block;
    max-width: 200px;
    margin: auto;
}
