* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 1;
}

#canvas1, #canvas2, #canvas3 {
    border: 5px solid black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Optional for centering horizontally */
    width: 256px;
    height: 256px;
}

#canvas1 {
    top: 300px;
}

#canvas2 {
    top: 600px;
}

#canvas3 {
    top: 900px;
}

#helloWorldButton {
 display: block;
 background-color: aqua;
 border-radius: 6px;
 margin: auto;
}

.helloWorld {
    display: block;
    margin: auto;
}


#helloWorldButton:hover {
 background-color: rgb(0, 129, 129);
 box-shadow: 8 8 8 8;
}

.hidden {
    display: none;
}

#dipsy {
    display: block;
    max-width: 200px;
    margin: auto;
}
